services:
    web:
      build: .
      volumes:
        - ./web:/src
      working_dir: /src
      user: ${COMPOSE_UID:-1000}:${COMPOSE_GID:-1000}
      ports:
        - 8081:8080
      command: ["npm", "run", "serve"]  
  